.label{
    -fx-font-family: "Century Gothic" ;
    -fx-font-style: italic;
    -fx-font-size: 16px;
}
.button{
    -fx-background-color: linear-gradient(to right,#8b9cff ,#2969e0);
    -fx-background-radius: 10;
    -fx-font-family: "Century Gothic" ;
    -fx-font-style: italic;
    -fx-font-size: 18px;
}